<form fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="mat-full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Enter username" formControlName='username' required>
    <mat-error *ngIf="f.username.errors?.required">Username required</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="mat-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter password" formControlName='password' [type]="hide ? 'password' : 'text'" required>
    <div matSuffix (click)="hide = !hide">
      <mat-icon>
        {{ hide ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </div>
    <mat-error *ngIf="f.username.errors?.required">Username required</mat-error>
  </mat-form-field>
  <mat-error fxLayout="row" fxLayoutAlign="start center" [fxShow]="errorMsg">
    <mat-icon>error_outline</mat-icon>
    <span class="mat-caption" class="agi-p-1">
      {{ errorMsg }}
    </span>
  </mat-error>
  <button mat-raised-button [disabled]="loading" [class.spinner]="loading">
    Login
  </button>
</form>
<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="onNavigateToRegisterForm()">Register</button>
</div>