<p>Username: {{user.username}}</p>
<p>First Name: {{user.firstName}}</p>
<p>Last Name: {{user.lastName}}</p>
<p>Email: {{user.email}}</p>
<p>Access: {{user.access}}</p>
<p *ngIf="isAdmin">Roles: Admin</p>
<form *ngIf="canAddFriend" class="example-form">
    <mat-form-field>
        <mat-label>Add friend message</mat-label>
        <input matInput type="text" #message>
    </mat-form-field>
</form>
<div fxLayout='row'>
    <button mat-raised-button *ngIf="canAddFriend" color='primary' (click)="addFriend()" fxFlex='grow'>
        Add friend
    </button>
    <button mat-raised-button (click)="closeDialog()" fxFlex='grow'>Close</button>
</div>