<mat-toolbar fxLayout='row' fxLayoutAlign="space-between" color='primary'>
  <button mat-button routerLink="/" routerLinkActive #homeRla="routerLinkActive"
    [ngClass]="{ disabled: homeRla.isActive }">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button routerLink="/map" *ngIf="false" routerLinkActive #mapRla="routerLinkActive"
    [ngClass]="{ disabled: mapRla.isActive }">Map</button>
  <button mat-button routerLink="/post" routerLinkActive #postRla="routerLinkActive"
    [ngClass]="{ disabled: postRla.isActive }">Post</button>
  <button mat-button routerLink="/geo" routerLinkActive #geoRla="routerLinkActive"
    [ngClass]="{ disabled: geoRla.isActive }">Geo</button>
  <button mat-button *ngIf="isAdmin" (click)="admin()">Admin</button>
  <button mat-button [matMenuTriggerFor]="userProfile">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userProfile="matMenu">
  <button mat-menu-item routerLink="/login" routerLinkActive #lgnRla="routerLinkActive"
    [ngClass]="{ disabled: lgnRla.isActive }" *ngIf="!isLogin">Login</button>
  <button mat-menu-item routerLink="/profile" routerLinkActive #pflRla="routerLinkActive"
    [ngClass]="{ disabled: pflRla.isActive }" *ngIf="isLogin">Profile</button>
  <button mat-menu-item (click)="logout()" *ngIf="isLogin">Logout</button>
</mat-menu>